h1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: lightgray;
  color: darkgreen;
  font-family:sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  border-radius: 0px;
  z-index: 999;
  display: block; margin: 0px auto;
  display: center;

 }

h3{
  top: 0;
  padding: 0px;
  margin-top: 75px;
  text-align: center;
  font-size: 35px;
  background-color: darkgray;
  border-radius: 0px;
  color: brown;
   width: 100%;
   position: fixed;
  right: 0;
  z-index: 999;
   display: block; margin: 80px auto;
}


.programcondition{
margin-top: 25px
font-family: sans-serif;
font-size: 20px;
font-weight: bold;
}


.registernow{	
  background-color: #7c3aed;     /* Purple color */
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; margin:1px auto;
}

.registernow:hover {
  background-color: #6a21dc;     /* Slightly darker purple on hover */
}
	

.FirstPagebody {
    margin-top: 200px;
      /*margin: 0;*/
      padding: 0;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      flex-wrap: wrap;
    }


    .image-container {
      position: relative;
      width: 270px;
      height: 230px;
      margin: 10px;
      opacity: 0;
      transform: translateY(50px) scale(0.8);
      transition: all 1s ease;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }

    .image-container.visible {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}



 .old-celebration{
  background-color: #7c3aed;     /* Purple color */
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  width: 99%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /*display: block; margin:1px auto;*/
  box-shadow: 0 5px 30px rgba(0,0,0,0.5);
  /* for fixing */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

a{ text-decoration: none; }

#condition-head{
  padding: 3px;
  text-align: center;
  font-size: 25px;
  background-color: darkgray;
  border-radius: 25px;
  color: darkgreen;
}

.scroll{ 
  background-color: darkgray;
  color: blue;
  border: 5px;
  font-family:sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  width: 80%;
  position: fixed;
  top: 0;
  left: 10%;
  right: 0;
  z-index: 999;
  /* for alin center */
  display: block; margin: 130px auto;
}

#dm{
bottom: 60px;
}
#dmm{
bottom: 10px;
}


    .menu-icon {
      width: 30px;
      cursor: pointer;
      padding: 10px;
    }

    .bar { 
      height: 4px;
      width: 100%;
      background-color: red;
      margin: 5px 0;
    }

    .dropdown {
      display: none;
      font-size: 20px;
      background-color: #f1f1f1;
      position: absolute;
      top: 100px;
      /*right: 10px;*/
      border: 1px solid #ccc;
      padding: 10px;
      z-index: 1000;
    }

    .dropdown a {
      display: block;
      padding: 8px 12px;
      text-decoration: none;
      color: #333;
    }

    .dropdown a:hover {
      background-color: #ddd;
    }
}
.aboutpage {
max-width: 60%;
height: auto;
overflow: hidden;
box-sizing: border-box;
}
      

